.internal-about {
  background: url(../assets/bg-sobre.jpg) no-repeat center;
  background-size: cover;
}

.values-about {
  padding-top: 6rem;
}

.values-about p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 1em;
  padding-right: 6rem;
}

.values-about ul li {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 1.8rem;
  line-height: 3rem;
}

.team-picture {
  padding-top: 2rem;
}
