/* Estilos Gerais */
body {
  font-family: "Arial", "Helvetica", sans-serif;
}

p {
  @include type-2(1.4);
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  text-transform: uppercase;
  border: 0.3rem solid $primary-color;
  padding: 1rem 3rem;
  color: $primary-color;
  font-weight: bold;
  letter-spacing: 0.1em;
  @include type-1(1.4);
  &:hover {
    color: $light-color;
    border-color: $light-color;
  }
}

.btn.btn-black:hover {
  border-color: $dark-color;
  color: $dark-color;
}

.subtitle {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: $dark-color;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
  @include type-1(2.4);
  &::after {
    content: "";
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: $dark-color;
    margin: 0.8rem auto;
  }
}

.internal-subtitle {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: $dark-color;
  text-transform: uppercase;
  margin-bottom: 2rem;
  @include type-1(2.4);
  &::after {
    content: "";
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: $dark-color;
    margin: 0.8rem 0;
  }
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  padding: 1.5rem 0;
  z-index: 1000;
  @include d(mobile) {
    position: relative;
    padding-bottom: 0;
  }
  img {
    @include d(mobile) {
      margin: 0 auto 1rem auto;
    }
  }
}

.header_menu {
  text-align: right;
  @include d(mobile) {
    text-align: center;
  }
  ul li {
    display: inline-block;
    margin-left: 2.5rem;
    margin-top: 2rem;
    @include d(mobile) {
      margin: 0.5rem;
    }
    a {
      color: $dark-color;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 1rem 0;
      @include type-1(1.4);
      @include d(mobile) {
        border: 0.4rem solid $dark-color;
        width: 13.6rem;
        display: block;
        float: left;
      }
      &:hover {
        color: $light-color;
        @include d(mobile) {
          border-color: $light-color;
        }
      }
    }
    .active-menu {
      color: $light-color;
      @include d(mobile) {
        border-color: $light-color;
      }
    }
  }
}

/* Introdução */
.introduction {
  width: 100%;
  height: 38rem;
  background: url("../assets/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 9.2rem;
  text-align: center;
  padding-top: 8rem;
  @include d(mobile) {
    background: url(../assets/bg-mobile.jpg) no-repeat center;
    margin-top: 0;
    padding-top: 4rem;
  }
  h1 {
    text-transform: uppercase;
    color: $light-color;
    font-weight: bold;
    @include type-1(4.8);
    @include d(mobile) {
      @include type-1(3.6);
    }
  }
}

.external-quote {
  max-width: 32rem;
  margin: 0 auto;
  color: $light-color;
  margin-bottom: 4rem;
  p {
    font-style: italic;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: $light-color;
    margin: 1.4rem auto 1rem auto;
  }
  cite {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    @include type-1(1.4);
  }
}

/* Introdução Interna */
.internal-introduction {
  width: 100%;
  margin-top: 9.2rem;
  height: 16rem;
  text-align: center;
  color: $light-color;
  padding-top: 3rem;
  @include d(mobile) {
    margin-top: 0;
  }
  h1 {
    text-transform: uppercase;
    color: $light-color;
    font-weight: bold;
    margin: 0;
    @include type-1(3.6);
  }
  &::after {
    content: "";
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: $light-color;
    margin: 0.6rem auto 1rem auto;
  }
}

/* Produtos */
.products {
  padding: 6rem 0;
  text-align: center;
}

.products-list li {
  background-color: $primary-color;
  img {
    margin: 0 auto;
  }
  h3 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 2rem;
    @include type-1(1.8);
    &::after {
      content: "";
      display: block;
      width: 6rem;
      height: 0.3rem;
      background-color: $dark-color;
      margin: 0 auto;
      margin: 0.2rem auto;
    }
  }
  p {
    padding: 1rem 2rem 2rem 2rem;
  }
}

.products-icon {
  background-color: $dark-color;
  padding: 2rem;
}

.cta {
  text-align: center;
  padding-top: 4rem;
  clear: both;
  @include d(mobile) {
    padding-top: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
}

/* Portfólio */
.portfolio {
  width: 100%;
  background-color: $dark-color;
  padding: 4rem 0;
  .subtitle {
    color: $primary-color;
    &::after {
      background-color: $primary-color;
    }
  }
  .cta p {
    color: $light-color;
  }
}

.portfolio_list .grid-16 {
  margin-top: 2rem;
}

/* Qualidade */
.quality {
  padding: 6rem 0;
  &::after {
    content: "";
    width: 63.4rem;
    height: 8.3rem;
    display: block;
    background: url(../assets/linhas.png) no-repeat center;
    position: absolute;
    top: 20.9rem;
    right: 16.2rem;
    z-index: -1;
    @include d(tablet) {
      right: 6.66rem;
    }
    @include d(mobile) {
      display: none;
    }
  }
  img {
    margin: 0 auto;
  }
}

.quality-list {
  padding-top: 2rem;
  overflow: hidden; /* clear-fix */
  li {
    text-align: center;
    padding: 0 4rem;
    @include d(tablet) {
      padding: 0 1rem;
    }
  }
  h3 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 2rem;
    @include type-1(1.8);
    &::after {
      content: "";
      display: block;
      width: 6rem;
      height: 0.3rem;
      background-color: $dark-color;
      margin: 0 auto;
      margin: 0.6rem auto;
    }
  }
}

/* Quebra */
.break {
  background: url(../assets/bg-footer.jpg) no-repeat center;
  width: 100%;
  height: 22rem;
  background-size: cover;
  text-align: center;
  padding-top: 4rem;
  .external-quote {
    max-width: 40rem;
  }
}

/* Footer */
.footer {
  width: 100%;
  background-color: $dark-color;
  color: $light-color;
  padding: 2rem 0;
  h3 {
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    @include type-1(1.8);
    &::after {
      content: "";
      display: block;
      width: 6rem;
      height: 0.3rem;
      background-color: $primary-color;
      margin: 0.6rem 0 2rem 0;
    }
  }
}

.footer-history {
  padding-right: 4rem;
}

.footer-contact ul li {
  @include type-2(1.4);
}

.footer-social ul li {
  display: inline-block;
  margin-right: 1rem;
  a {
    display: block;
    border: 0.3rem solid $primary-color;
    padding: 1rem;
    @include d(tablet) {
      padding: 0.6rem;
    }
    &:hover {
      border-color: $light-color;
    }
    img {
      @include d(tablet) {
        width: 2.6rem;
        height: 2.6rem;
      }
    }
  }
}

.copyright {
  width: 100%;
  background-color: $primary-color;
  padding: 2rem 0;
}

/* JAVASCRIPT */
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 0.2rem;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.4rem;
  border: none;
  padding: 0;
  border-radius: 50%;
  text-indent: -99px;
  overflow: hidden;
  background-color: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background-color: $primary-color;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

.dontappear {
  visibility: hidden;
  height: 0;
  position: absolute;
}

#form-sucesso,
#form-sucesso h2 {
  color: #31aa39;
}

#form-erro,
#form-erro h2 {
  color: #f64540;
}
