.internal-portfolio {
  background: url(../assets/bg-portfolio.jpg) no-repeat center;
  background-size: cover;
}

.client_quotes {
  padding: 6rem 0;
  max-width: 46rem;
  margin: 0 auto;
  p {
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
    @include type-2(1.8);
  }
  cite {
    font-weight: bold;
    float: right;
    font-style: normal;
    @include type-1(1.8);
  }
}
